* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #DCDCDC;
    gap: 8rem;
}

form {
    background-color: #fff;
    width: 40rem;
    height: 20rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 1rem;
}

button {
    padding: 0.4rem 1.8rem;
    border: none;
    background-color: rgb(92, 92, 221);
    border-radius: 0.4rem;
    color: #fff;
    cursor: pointer;
    margin-top: 11rem;
}

button:hover {  
    padding: 0.7rem 2rem;
    margin-top: 10.5rem;
}

h1 {
    font-size: 1.6rem;
}


